

.entity-card{
    border: 1px solid var(--grey-border);
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
}

.entity-label{
    font-size: 17px;
    text-transform: capitalize;
    color: var(--text-black);
    margin-bottom:1rem;
}


.account-item, .budget-item{
    margin:0 25px 25px;
}

.account-name, .account-amount, .budget-amount, .budget-name{
    font-size: 15px;
    text-transform: capitalize;
}

.account-amount, .budget-amount{
    font-weight: 500;
}
.no-data-found{
    font-size:15px;
    color:var(--text-color-grey);
}

.go-to-link{
    font-size: 15px;
    margin-top:20px;
    color: var(--primary);
}