.navlist li {
  
    transition: all 300ms ease-in-out;
  }
  
  .navlist {
    padding-left:0px;
  }
  .navlist li .menu-item {
    color: var(--text-white);
    cursor: pointer;
    font-size: 15px;
    transition: all 300ms ease-in-out;
    padding: 1rem 20px;
  }
  
  .navlist li.active {
    background-color: var(--primary-selected);
  }
  
  
  nav {
    background: var(--primary);
    color: var(--text-white);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    overflow-x: hidden;
  }
  
  .openSidebar {
    transition: 0.7s;
    width: 200px;
  }
  
  a {
    text-decoration: none;
  }
  
  nav a {
    display: flex;
  }

  .menu-icons{
      margin-right:10px;
  }