
.month{
    padding: 5px;
    flex-wrap: wrap;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    border:1px dotted black;
    border-radius: 6px;
}
.month.active{
    border:2px solid #6366F1; 
}
.month-container{
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
}