
:root {
  --primary:  #6366F1;
  --text-color-grey: #495057;
  --text-color-light-grey:#6c757d;
  --text-red: red;
  --text-green: green;
  --text-white: #fff;
  --primary-selected:  #363885;
  --grey-border: #dee2e6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a, .cursor-pointer{
  cursor: pointer;
}

.mr-2{
    margin-right:1rem;
}

.ml-2{
  margin-left:1rem;
}

.ml-1{
  margin-left:0.5rem;
}

.flex{
  display: flex;
}

.justify-content-sb{
  justify-content: space-between;
}

.flex-center{
  justify-content: center;
}

.field {
  margin-bottom: 1rem;
}

.field>label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.amount-card{
  margin-right: 30px;
  min-width: 150px;
}
.amount-card .p-card-content{
  padding: 0 !important
}

.amount-card  .p-card-body{
  padding:10px 15px !important;
}

.amount{
  padding: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.amount-label{
  font-size: 15px;
}

.amount.red{
  color:var(--text-red);
}

.amount.green{
  color:var(--text-green);
}
.p-toolbar{
  padding: 1rem !important;
}
